@use '../../styles/modules/breakpoints' as *;

.connect {
    text-align: center;
    width: 100%;
    background-size: cover;
    display: flex;
    justify-content: center;
    -webkit-justify-content: center;
  }
  
  .connect .inner {
    background-color: #00000095;
    text-align: center;
    width: 100%;
  }
  
  .connect .inner .about {
    display: flex;
    flex-direction: column;
    align-items: baseline;
  }

  .inner label{
    font-size: large;
  }

  .role{
      content: '';
  }
  
  .about p {
    margin: 1em;
  }

  .textInput{
      outline: none;
      width: 15em;
      line-height: 2em;
      border: none;
      border-radius: .5em;
      font-size: large;
      padding-left: .5em;
  }

  .textInput::placeholder {
    color: #B0BEC5;
  }

  .textAreaInput{
    outline: none;
    line-height: 2em;
    border: none;
    border-radius: .5em;
    font-size: large;
    padding-left: .5em;
}

  
  @include md() {
    .connect .inner {
      width: 80%;
      margin-bottom: 5em;
      display: flex;
      justify-content: center;
    }
  
    .connect .inner .about {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      max-width: 900px;
    }

    // .textInput{
    //     line-height: 3em;
    //     width: 20em;
    // }
  }
  @include lg() {
    .connect .inner {
      width: 65%;
      margin-bottom: 5em;
    }
  
    .connect .inner .about {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      flex-wrap: wrap;
      max-width: 900px;
    }

    .inner form{
        margin-bottom: 2em;
    }

  }